<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .redirect {
        display: inline-block;
        padding: 10px 15px;
        margin: 10px 0;
        background-color: #007bff;
        color: white;
        text-decoration: none;
        border-radius: 5px;
      }
    </style>
  </head>
  <body>
    <div>
      <a href="{{ url_for('upload_files') }}" class="redirect">Upload files</a>
      <br />
      <a href="{{ url_for('list_files') }}" class="redirect">List files</a>
      <br />
      <a href="{{ url_for('get_transactions') }}" class="redirect"
        >Get transactions</a
      >
    </div>
  </body>
</html>
